.Intro {
  display:inline-block;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 40%;
  text-align:center;
}

.Intro p {
  color: #00ded3;
  font-weight: bold;
  margin-bottom: 10px;
}

.Intro h1 {
  margin: 0px;
  color: #ffffff;
  font-weight: bold;
}

@media (min-width:450px) {
  .Intro p {
    font-size:1.5em;
  }
  .Intro h1 {
    font-size:3em;
  }
}

@media (min-width:650px) {
  
  .Intro {
    text-align:initial;
    position: relative;

  }

  .Intro p {
    position: absolute;
    left: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  
  .Intro p:last-of-type {
    left: unset;
    right: 0;
  }
  
  .Intro h1 {
     padding-top: 0.6em;
     font-size: 4em;
  }
}