.Header {
  /* min-width:350px; */
  margin:auto;
  margin-top:20px;
}

.Header .Logo {
  display:inline-block;
  vertical-align:top;
  width:75px;
  margin-right:10px;
  margin-left:10px;
  margin-top:20px;
}

.Header .Navigation {
  display:inline-block;
  vertical-align:top;
  text-align:left;
  margin-right:15px;
  columns:2;
}

.Header .Navigation a {
  display:block;
  text-decoration:none;
  color:white;
  text-transform:uppercase;
  font-weight:bold;
  padding-top:3px;
  padding-bottom:3px;
}

.Header > a {
  margin-top:25px;
}

@media (min-width:1024px) {

  .Header .Logo {
    width:100px;
    margin-right:20px;
    margin-left:20px;
    margin-top:0px;
  }

  .Header .Navigation {
    columns: unset;
    margin:auto;
    padding-top: 30px;
  }

  .Header .Navigation a {
    display:inline-block;
    margin-right:20px;
    border-bottom:2px solid transparent;
  }

  .Header .Navigation a:hover {
    border-color:white;
  }

}
