.Header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #060e4eea;
  z-index: 1000;

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .Logo {
    width: 75px;
    margin-right: 10px;
    text-align: center;

    .LogoImg {
      width: 60px;
    }
  }

  .Navigation {

    // width: calc(100% - 120px);
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

    .Link {
      font-size: .9em;
      display: block;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      padding: 4px 0;
      margin: 0 1em;
      border-bottom: 2px solid transparent;
      transition: all .25s ease;

      &:hover {
        border-color: #fff;
      }
    }
  }

  .ActionButton {
    margin-left: 1em;
  }

  .NavBtn {
    display: none;
  }


  @media (min-width:1024px) {
    .Logo {
      width: 100px;
      margin-right:20px;
    }
  }

  @media (max-width: 600px) {
    .container {
      justify-content: center;
    }

    .Navigation {
      top: -500px;
      transition: top .3s ease;
    }

    &.-open .Navigation {
      top: 0;
      transition: top .3s ease;
    }

    .NavBtn {
      display: inline;
      top: 0;
      position: absolute;
      right: 0;
      margin: 20px 20px;
      font-size: 30px;
    }

    .Navigation {
      flex-direction: column;
    }
  
    .Logo {
      position: absolute;
      margin-right: 0;
      top: 0;
      left: 0;
      margin: 10px;
    }

    .LogoImg {
      width: 40px;
    }
  }

}


