.Header {
  width: 60%;
  min-width: 600px;
  max-width: 1200px;
  margin:auto;
  margin-top: 3%;
  position: relative;
  text-align: initial;
}

.Header .Logo {
  display: inline-block;
  width:10%;
}

.Header .Navigation {
  display: inline-block;
  vertical-align: top;
  text-align: initial;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  margin-left: 12%;
}

.Header .Navigation a {
  display:inline-block;
  text-transform:uppercase;
  color:white;
  text-decoration:none;
  vertical-align:top;
  font-weight:bold;
  padding-top:10px;
  padding-bottom:10px;
  border-top:2px solid transparent;
  border-bottom:2px solid transparent;
  font-size:0.8em;
  margin-right:20px;
}

.Header nav a:hover {
  border-bottom-color: white;
}
