.Header {
    width: 60%;
    min-width:600px;
    max-width:1200px;
    margin:auto;
    margin-top:3%;
    position:relative;
    text-align:initial;
}

.Header img {
    display:inline-block;
    width:10%;
}

.Header nav {
    display:inline-block;
    vertical-align:top;
    text-align:initial;
    position:absolute;
    top:50%;
    right:0%;
    transform: translateY(-50%);
    margin-left:12%;
}

.Header nav a {
    display:inline-block;
    text-transform:uppercase;
    color:white;
    text-decoration:none;
    vertical-align:top;
    font-weight:bold;
    padding-top:10px;
    padding-bottom:10px;
    border-top:2px solid transparent;
    border-bottom:2px solid transparent;
    font-size:0.8em;
    margin-right:20px;
}

.Header nav a:hover {
    border-bottom-color: white;
}

.Header #req-invite {
    display:inline-block;
    text-transform:uppercase;
    vertical-align:top;
    font-weight:bold;
    padding-top:10px;
    padding-bottom:10px;
    border:none;
    border-top:2px solid transparent;
    border-bottom:2px solid transparent;
    font-size:0.8em;
    background-color:transparent;
    cursor:pointer;
    background-image:url("/button-bckg.png");
    background-size:contain;
    background-repeat:round no-repeat;
    color:black;
    width: 12em;
    text-align:center;
    margin-right:0px;
}
.Header #req-invite:hover {
    background-image:url("/button-bckg-blue.png");
    border-bottom-color:transparent;
}
