.Speakers {
    text-align:center;
    width:60%;
    max-width:50em;
    margin:auto;
    margin-bottom:100px;

    .Speakers-image {
        display:inline-block;
        vertical-align:middle;
        width:40%;
        margin-right:5%;
        img {
            width:100%;
            max-width:300px;
        }
    }

    .Speakers-info {
        display:inline-block;
        vertical-align: middle;
        width:40%;
        text-align:right;
        p {
            color:#C3C8E5;
            margin:1em 0;
            line-height: 1.5em;
        }
        
  
    }

    @media only screen and (max-width:768px) {
        width:90%;
 
        .Speakers-image {
            display:block;
            margin:auto;
            width:70%;
        }

        .Speakers-info {
            display:block;
            width:100%;
            text-align:center;
            p {
                max-width:80%;
                margin-left:auto;
                margin-right:auto;
            }
        }
    }

}
