.Speakers {
  position:relative;
  width:60%;
  margin:auto;
  text-align:initial;
  margin-bottom:10%;

}
  
.Speakers .container-left {
  display:inline-block;
  width:45%;
  text-align:center;
}

.Speakers h2 {
  margin-top:0px;
}

.Speakers .container-right {
  text-align: right;
  font-size:1.1em;
  display:inline-block;
  width:45%;
  color:#ffffff;
  vertical-align:top;
}

.Speakers .hero-blue {
  color:#00ded3;
}



.Speakers #become-speaker {
  display:inline-block;
  text-decoration:none;
  font-weight:bold;
  padding-top:15px;
  padding-bottom:15px;
  font-size:1em;
  background-image:url("/button-bckg.png");
  background-size:contain;
  background-repeat:round no-repeat;
  color:black;
  width: 12em;
  text-align:center;
  margin-right:0px;
  border:none;
  background-color:transparent;
  cursor:pointer;
}

.Speakers #become-speaker:hover {
  background-image:url("/button-bckg-blue.png");
  border-bottom-color:transparent;
}

.Speakers img {
  width:80%;
}