$color-hero: #00DED3;
$color-primary1: #D91DBD;
$color-primary2: #FF790B;
$color-background: #020937;
$color-textMain: #FFFFFF;
$color-textSecondary: #C3C8E5;
$color-splashBlue: #017485;
$color-splashPurple: #430F5F;
$color-icons: #2B3460;
$color-reactIcon: #18608C;
