.Footer {
  background-image: url('/planet-react.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 25px;
  background-size: cover;
  color: white;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .Title {
    font-size: 20px;
    width: 200px;
    margin: auto;
    margin: 0 auto 50px auto;
    text-align: center;
    font-size: 2em;
  }

  .Link {
    color: #00ded3;
  }

  .Icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .Icon {
    margin: 0 15px;
  }
  .Icon svg {
    fill: white;
    transition: 0.2s;
    width: 35px;
    height: 35px;
  }
  .Icon:hover svg {
    fill: #d91dbd;
  }

  .PressRelease {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.2em;
  }

  .PressRelease a {
    margin: 0 5px;
    font-size: 1.1em;
  }

  .Copyright {
    background: #000318;
    font-size: .9em;
  }
  .Copyright .Link {
    margin-left: 5px;
  }
  .Copyright .Link:nth-child(3) {
    margin-right: 5px;
  }
  .Copyright p {
    margin: 10px 20px 30px;
  }

  @media only screen and (max-width: 560px) {
    background-position-y: 100%;
    background-size: 1200px;
    height: 757px;

    .Title {
      font-size: 32px;
    }

    .PressRelease {
      // font-size: 20px;
    }

    .Icon svg {
      width: 30px;
      height: 30px;
    }
    .Copyright p {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 330px) {
    background-position-y: 100%;
    background-size: 1000px;
    height: 630px;

    .Title {
      font-size: 30px;
    }

    .PressRelease {
      // font-size: 18px;
    }

    .Icon svg {
      width: 20px;
      height: 20px;
    }
    .Copyright p {
      margin: 10px 25px 30px;
    }
  }
}
